body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

#header,
#footer {
  height: 5%;
  background: #1c5d99;
  color: white;
}

.section-card-container {
  width: calc(100% / 3);
  height: 100%;
}

.section-card {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 1px solid slategray;
  background: #bbcde5;
  color: white;
  font-size: 25px;
  font-weight: 600;
  transition: all 0.5s;
}

.section-card:hover {
  transform: scale(1.2);
  cursor: pointer;
  background: #639fab;
}

#router {
  height: 90%;
}

#login-form {
  width: 30%;
  min-width: 320px;
  min-height: 200px;
  height: 35%;
  background: #1c5d99;
  color: white;
  border-radius: 10px;
}

#user-form {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input:not([type="button"]) {
  height: 36px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 0 5px 0 5px;
}
input[type="button"] {
  height: 36px;
  min-width: 108px;
  border-radius: 5px;
  cursor: pointer;
}
